[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
analytics-python = "==1.2.9"
flask = "<=0.12.2"
flask-cors = "<3.0.10"
flask-script = "<=2.0.5"
kombu = "*"
hvac = "*"
librato-metrics = ">=3.0.1"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
mongoengine = "*"
opbeat = "*"
pycrypto = "<=2.7"
pyjwt = "*"
pytz = "*"
requests = "*"
semantic-version = "<=2.6.0"
simplejson = "*"
"strict-rfc3339" = "*"
webargs = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.6"
